.spot-page-body {
  margin: 1rem 10rem;
}
.single-spot-image-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
.single-spot-image-con > img {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  filter: brightness(.9);
}
.spot-image-1 {
  grid-area: 1 / 1 / 3 / 4;
  height: 458px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 0rem 0rem 1rem;
}
.spot-image-2 {
  grid-area: 1 / 4 / 2 / 5;
  height: 225px;
  width: 225px;
  object-fit: cover;
}
.spot-image-3 {
  grid-area: 2 / 4 / 3 / 5;
  height: 225px;
  width: 225px;
  object-fit: cover;
}
.spot-image-4 {
  grid-area: 2 / 5 / 3 / 6;
  height: 225px;
  width: 225px;
  object-fit: cover;
  border-radius: 0rem 0rem 1rem 0rem;
}
.spot-image-5 {
  grid-area: 1 / 5 / 2 / 6;
  height: 225px;
  width: 225px;
  object-fit: cover;
  border-radius: 0rem 1rem 0rem 0rem;
}
.spot-page-title {
  margin: 1.5rem 0rem;
  font-weight: normal;
  font-size: 1.65rem;
}
