.spot-page-body {
  margin: 1rem 10rem;
  position: relative;
}
.single-spot-image-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  max-height: 450px;
}
.single-spot-cara {
  border-radius: 1rem;
}
.cara-image {
  height: 500px;
  display: flex;
  flex: 1 auto;
  object-fit: cover;
}
.single-spot-image-con > img {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  filter: brightness(0.9);
}
.spot-image-1 {
  grid-area: 1 / 1 / 3 / 4;
  display: flex;
  flex: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 0rem 0rem 1rem;
}
.spot-image-2 {
  grid-area: 1 / 4 / 2 / 5;
  height: 100%;
  max-height: 225px;
  width: 100%;
  display: flex;
  flex: auto;
  object-fit: cover;
}
.spot-image-3 {
  grid-area: 2 / 4 / 3 / 5;
  height: 100%;
  max-height: 225px;
  width: 100%;
  display: flex;
  flex: auto;
  object-fit: cover;
}
.spot-image-4 {
  grid-area: 2 / 5 / 3 / 6;
  height: 100%;
  max-height: 225px;
  width: 100%;
  display: flex;
  flex: auto;
  object-fit: cover;
  border-radius: 0rem 0rem 1rem 0rem;
}
.spot-image-5 {
  grid-area: 1 / 5 / 2 / 6;
  height: 100%;
  max-height: 225px;
  width: 100%;
  display: flex;
  flex: auto;
  object-fit: cover;
  border-radius: 0rem 1rem 0rem 0rem;
}
.spot-page-h1 {
  font-weight: normal;
  font-size: 1.65rem;
}
.spot-page-title {
  margin: 1.5rem 0rem;
}
.spot-page-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}
.booking-widget {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  width: 350px;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: 0px 0px 6px rgb(209, 209, 209);
  border-radius: 1rem;
  position: absolute;
  right: 0;
  margin-bottom: 500px;
}
.booking-widget-price {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.75);
}
.per-night {
  font-size: 1.1rem;
}
.pricing-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0rem;
}
.pricing-child-div {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  margin: 0.5rem 2rem;
}
.booking-widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.widget-header-comments {
  font-size: 0.9rem;
  text-decoration: underline;
}
.date-picker {
  border-bottom: 1px solid rgba(212, 212, 212, 0.733);
}
.book-now-button {
  border: none;
  margin: 0.8rem;
  background-image: linear-gradient(
    to right,
    #2fa373,
    #48a672,
    #5caa72,
    #6cad73,
    #7bb075
  );
  padding: 1rem 4rem;
  color: white;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.booking-total-con {
  border-top: 1px solid rgba(212, 212, 212, 0.733);
  padding-top: 1rem;
  font-weight: normal;
}
.spot-page-info {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  height: 700px;
  position: relative;
}
.spot-header-info {
  display: flex;
  flex-direction: column;
}
.spot-host-ava {
  margin-bottom: 1rem;
  margin-left: 3rem;
}
.comment-form {
  position: absolute;
  bottom: 0;
}
.comment-form > input {
  border: 1px solid rgba(212, 212, 212, 0.733);
  border-radius: 4px;
  height: 3rem;
  padding-left: 0.5rem;
  font-size: 0.95rem;
  width: 100%;
  display: flex;
  flex: 1 auto;
}
.single-spot-city {
  text-transform: capitalize;
}
.spot-page-hosted {
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}
.spot-page-bed-bath {
  color: rgba(0, 0, 0, 0.725);
  font-weight: 100;
  margin-top: 0.25rem;
}
.host-info {
  border-bottom: 1px solid rgba(212, 212, 212, 0.733);
  padding-bottom: 1rem;
  width: 90%;
  display: flex;
}
.spot-page-comment-con > h3 {
  font-weight: normal;
  font-size: 1.25rem;
  padding: 0.8rem 0rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(212, 212, 212, 0.733);
  width: fit-content;
  grid-column: span 2;
}
.spot-page-comment-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.spot-page-ind-comment > div > div {
  display: flex;
}
.date-posted {
  font-size: 0.9rem;
  color: rgba(20, 20, 20, 0.8);
}
.comment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0.5rem;
}
.comment {
  margin: 1rem 0rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
}
.map-section {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  width: 100%;
  flex: 1 auto;
  margin: 4rem 0;
  border-top: 1px solid rgba(212, 212, 212, 0.733);
}
.map-section > h1 {
  padding: 2.5rem 0;
}
.map {
  height: 500px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1225px) {
  .spot-page-body {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
  }
  .booking-widget {
    position: static;
  }
}
@media (max-width: 850px) {
  .spot-page-body {
    margin: 0.25rem 2rem;
  }
  .spot-page-info {
    height: 125px;
  }
  .spot-page-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .spot-page-comment-con {
    display: none;
  }
  .booking-widget {
    margin-bottom: 1rem;
  }
  .map {
    height: 300px;
  }
}
@media (max-width: 600px) {
  .cara-image {
    height: 300px;
  }
}
